:root{
    /*DIMENSIONS*/
    --mainHeight: 460px;

    --bottomBarFontSize: 1.7rem;
    --bottomBarHorMargin: 45px;
}

/* L1 */
main{
    min-height: var(--mainHeight);
}

/* L2 */
.box-content{
    height: 410px;
}

@media only screen and (max-height: 400px){
    .box-content{
        justify-content: flex-start;
    }
}

/*activities box*/
#activitySwitcher {
    overflow: auto;
    overflow-x: hidden;
}

#activitiesWrapper{
    display: flex;
    flex-direction: column;
}

#activitySwitcher button{
    margin: 2px 30px;
    padding: 10px 0;
    width: 300px;
    border-radius: 10px;
}

.buttonPressed{
    border-style: inset;
    background-color: var(--colorLightnes2);
    color: aliceblue;
}

/*add activity box*/
#addActivity, #menu{
    display: none;
}

#addActivityInfo{
    color: crimson;
    background-color: aliceblue;
    border: 1px solid crimson;
    margin: 30px 0 20px 0;
    visibility: hidden;
}

/*BOTTOM BAR*/
#bottomBar button{
    margin: 0 var(--bottomBarHorMargin) 0 var(--bottomBarHorMargin);
    font-size: var(--bottomBarFontSize);
}