:root{
    /*DIMENSIONS*/
    --mainHeight: 460px;

    --bottomBarFontSize: 1.7rem;
    --bottomBarHorMargin: 45px;
}

/* L1 */
main{
    height: var(--mainHeight);
}

/* L2 */
.box{
    height: var(--mainHeight);
}

#addActivity, #menu{
    display: none;
}

/*BOTTOM BAR*/
#bottomBar button{
    margin: 0 var(--bottomBarHorMargin) 0 var(--bottomBarHorMargin);
    font-size: var(--bottomBarFontSize);
}