#switchBox{
    border-radius: var(--borderRadius);
    padding: 10px 15px;
}

#switchBox-wrapper button:disabled{
    background-color: lightgreen;
}

#switchBox, #historyBox-wrapper{
    overflow-x: hidden;
    overflow-y: scroll;
}

#openAddBtn{
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(126, 221, 255);
}

#openMenuBtn{
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(126, 221, 255);
}

#openHistoryBtn{
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(126, 221, 255);
}