*{
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --bgColor: rgb(204, 241, 255);
    --mainBgColor: rgb(163, 231, 255);
    --h1Color: cornflowerblue;

    /*DIMENSIONS*/
    --headerHeight: 80px;
    --mainHeight: 380px;
    --footerHeight: 50px;

    --appWidth: 360px;

    --bottomBarFontSize: .7rem;
    --bottomBarHorMargin: 35px;

    --header2Height: 50px;

    /*BORDER*/
    --borderRadius: 12.5px;
}

/* L0 */
html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: var(--bgColor);
    font-family: Verdana;
    text-align: center;
}

/* L1 */
#app{
    margin: 0 auto;
    width: var(--appWidth);
    height: calc(100% - var(--footerHeight));
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: stretch;
}

footer{
    width: 100%;
    height: var(--footerHeight);
    background-color: var(--mainBgColor);
    display: flex;
    justify-content: center;
}

/* L2 */
header{
    width: 100%;
    height: var(--headerHeight);
    color: var(--h1Color);
}

main{
    width: 100%;
    flex-basis: var(--mainHeight);
    border-radius: var(--borderRadius);
    background-color: var(--mainBgColor);
}

/* L3 */
button{
    cursor: pointer;
}

button:focus{
    outline: 1px outset white;
}

/* BOX */
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: stretch;
}

/* BOX-HEADER */
#box-header{
    width: 100%;
    height: var(--header2Height);
    position: relative;
}

#box-header h2{
    margin: 0;
    padding: 11.5px 0px;
    height: var(--header2Height);
    width: 310px;
    display: inline-block;
    border-radius: var(--borderRadius);
    position: absolute;
    top: 0;
    left: 0;
}

#box-header .closeBtn{
    margin: 0;
    padding: 0;
    width: 50px;
    height: var(--header2Height);
    display: inline-block;
    border-radius: var(--borderRadius);
    position: absolute;
    top: 0px;
    right: 0px;
}

/* BOX-CONTENT */
.box-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ELEMENTS inside BOX - CONTENT */
/* BOX - CONTENT - FORM */
.box-content div{
    margin: 10px 0;
}

.box-content div label{
    display: block;
}

.box-content div input{
    font-size: 1.3rem;
    height: 45px;
    border-radius: 15px;
}

.box-content button{
    margin-top: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 9px 30px;
}

/* INFO */

.box#info .box-content p, .box#author .box-content p{
    padding: 0 50px;
    font-size: 1.1rem;
}

a{
    color: var(--h1Color);
}

/*FOOTER*/
footer button{
    background-color: transparent;
    margin: 0 var(--bottomBarHorMargin) 0 var(--bottomBarHorMargin);
    border: 0px;
    font-weight: bold;
    font-size: var(--bottomBarFontSize);
}

/* MEDIA QUERIES */
@media only screen and (max-height: 510px){
    header{
        display: none;
    }
}

@media only screen and (max-height: 431px){
    :root{
        --footerHeight: 25px;
    }
}

@media only screen and (max-height: 406px){
    footer{
        display: none;
    }
    :root{
        --footerHeight: 0px;
    }
}