*{
    box-sizing: border-box;
}

:root{
    --bodyBgColor: darkcyan;
}

/* L0 */

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: var(--bodyBgColor);
}

/*NAV*/

button{
    background-color: rgb(255, 86, 24);
    border-top: 1px solid coral;
    border-left: 1px solid coral;
    border-right: 1px solid rgb(99, 26, 0);
    border-bottom: 1px solid rgb(99, 26, 0);
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(224, 60, 0);
}

button:active{
    background-color: rgb(224, 60, 0);
    border-top: 1px solid rgb(99, 26, 0);
    border-left: 1px solid rgb(99, 26, 0);
    border-right: 1px solid coral;
    border-bottom: 1px solid coral;
}

/*COMMON FOR LOGIN, REGISTER, ABOUT, INFO*/
.close-btn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    top: 0;
}

h2{
    margin: 0;
    display: inline-block;
    width: 295px;
    text-align: center;
    padding: 11px 0;
    color: rgb(99, 26, 0);
}