*{
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --color: rgb(0, 31, 109);
    --bgColor: rgb(204, 241, 255);
    --mainBgColor: rgb(163, 231, 255);
    --h1Color: cornflowerblue;
    --shadowColor: rgba(100, 149, 237, .5);
    --buttonBorderColor: rgb(70, 119, 207);

    /*DIMENSIONS*/
    --headerHeight: 80px;
    --mainHeight: 380px;
    --footerHeight: 50px;

    --appWidth: 360px;

    --bottomBarFontSize: .7rem;
    --bottomBarHorMargin: 35px;

    --header2Height: 50px;

    /*BORDER*/
    --borderRadius: 12.5px;
}

/* L0 */
html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: var(--bgColor);
    font-family: Verdana;
    text-align: center;
    color: var(--color);
}

/* L1 */
#app{
    margin: 0 auto;
    width: var(--appWidth);
    height: calc(100% - var(--footerHeight));
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: stretch;
}

footer{
    width: 100%;
    height: var(--footerHeight);
    background-color: var(--mainBgColor);
    display: flex;
    justify-content: center;
}

/* L2 */
header{
    width: 100%;
    height: var(--headerHeight);
    color: var(--h1Color);
}

main{
    width: 100%;
    flex-basis: var(--mainHeight);
    max-height: calc(100% - var(--headerHeight));
    border-radius: var(--borderRadius);
    background-color: var(--mainBgColor);
    box-shadow: 5px 5px 25px -5px var(--shadowColor);
}

/* L3 */
/* buttons and input */
button, input{
    border-color: var(--buttonBorderColor);
    color: var(--color);
    background-color: white;
    padding: 11px;
    border-radius: var(--borderRadius);
}

button:focus, input:focus{
    outline: 1px outset white;
}

/* buttons */
button{
    cursor: pointer;
}

button:disabled{
    border-color: gray;
    color: rgb(110, 110, 110);
    background-color: rgb(216, 216, 216);
    cursor: default;
}

footer button{
    background-color: transparent;
    margin: 0 var(--bottomBarHorMargin) 0 var(--bottomBarHorMargin);
    border: 0px;
    font-weight: bold;
    font-size: var(--bottomBarFontSize);
}
/* input */
input{
    width: 100%;
    max-width: 327.59px;
}

input[type=checkbox]{
    width: 25px;
    height: 25px;
    border-radius: 25%;
}

/* BOX */
.box{
    width: 100%;
    height: 100%;
}

/* BOX-HEADER */
.box-header{
    width: 100%;
    height: var(--header2Height);
    position: relative;
}

.box-header h2{
    margin: 0;
    padding: 11.5px 0px;
    height: var(--header2Height);
    width: 86%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.box-header .closeBtn{
    margin: 0;
    padding: 0;
    width: 14%;
    height: var(--header2Height);
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* BOX-CONTENT */
/*all*/
.box-content{
    width: 100%;
    height: calc(100% - var(--header2Height));
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#menu .box-content{
    height: 100%;
}

/*login and register*/
#about .box-content, #author .box-content{
    justify-content: stretch;
}

#info .box-content{
    padding: 30px;
}

/* ELEMENTS inside BOX - CONTENT */

/*form elements*/
.formElement{
    margin: 10px 0;
    width: 91%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
}

.formElement > *{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/*about and author*/
#about .box-content div:first-child, #author .box-content div:first-child{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, .8);
}

#about .box-content div:last-child, #author .box-content div:last-child{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    font-size: .8rem;
    background-color: rgb(0,0,0,.2);
    width: 100%;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}

#about .box-content div:last-child p, #author .box-content div:last-child p{
    width: 100%;
    text-align: center;
}

a{
    color: var(--h1Color);
}

.box-content p{
    padding: 0 20px;
}

.warning{
    color: crimson;
    font-weight: bold;
}

/* MEDIA QUERIES */
@media only screen and (max-height: 700px){
    :root{
        --headerHeight: 0px;
        --footerHeight: 0px;
    }
    header{
        display: none;
    }
    footer{
        display: none;
    }
}
/*
@media only screen and (max-height: 510px){
    header{
        display: none;
    }
    :root{
        --headerHeight: 0px;
    }
}

@media only screen and (max-height: 431px){
    :root{
        --footerHeight: 25px;
    }
}

@media only screen and (max-height: 406px){
    footer{
        display: none;
    }
    :root{
        --footerHeight: 0px;
    }
}
*/
@media only screen and (min-width: 720px){
    :root{
        --appWidth: 720px;
    }
}