*{
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --colorLightnes5: rgb(0, 255, 255);
    --colorLightnes4: rgb(0, 200, 200);
    --colorLightnes3: rgb(0, 160, 160);
    --colorLightnes2: rgb(0, 120, 120);
    --colorLightnes1: rgb(0, 80, 80);
    --colorLightnes1: rgb(0, 80, 80);
    --colorLightnes0: rgb(0, 40, 40);

    /*DIMENSIONS*/
    --h1Height: 80px;

    --mainWidth: 360px;

    --bottomBarHeight: 50px;
    --bottomBarFontSize: .7rem;
    --bottomBarHorMargin: 35px;

    /*BORDER*/
    --borderRadius: 12.5px;
}

/* L0 */
html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: var(--colorLightnes0);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    align-content: space-between;
    font-family: Verdana;
    text-align: center;
}

/* L1 */
main, #bottomBar{
    width: var(--mainWidth);
    /*border-radius: var(--borderRadius);*/
    background-color: var(--colorLightnes1);
}

#bottomBar{
    height: var(--bottomBarHeight);
    background-color: var(--colorLightnes1);
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
}

/* L2 */
/* BOX */
.box{
    width: 100%;
    height: 100%;
    position: relative;
}

.box h2{
    margin: 0;
    padding: 11.5px 0px;
    height: 50px;
    width: 310px;
    background-color: var(--colorLightnes3);
    display: inline-block;
    border-radius: var(--borderRadius);
    position: absolute;
    top: 0;
    left: 0;
}

.box .closeBtn{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: var(--colorLightnes3);
    display: inline-block;
    border-radius: var(--borderRadius);
    position: absolute;
    top: 0px;
    right: 0px;
}

.box-content{
    width: 100%;
    height: 330px;
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ELEMENTS inside BOX - CONTENT */
/* BOX - CONTENT - FORM */
.box-content div{
    margin: 10px 0;
}

.box-content div label{
    display: block;
}

.box-content div input{
    font-size: 1.3rem;
    height: 45px;
    border-radius: 15px;
}

.box-content button{
    margin-top: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 9px 30px;
}

/*BOTTOM BAR*/
#bottomBar button{
    background-color: transparent;
    margin: 0 var(--bottomBarHorMargin) 0 var(--bottomBarHorMargin);
    border: 0px;
    font-weight: bold;
    font-size: var(--bottomBarFontSize);

}