/* L1 */
header, main, footer{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 15%;
    background-color: coral;
}

main{
    height: 75%;
    background-color: rgb(255, 102, 46);
}

footer{
    height: 10%;
    background-color: rgb(255, 86, 24);
}

/* L2 */
h1{
    margin: 0;
    text-align: center;
}

footer p{
    margin: 0 40px;
}

.box{
    width: 360px;
    height: 380px;
    background-color: rgb(255, 115, 64);
    border: 1px solid rgb(255, 86, 24);
}

#login, #register, #about, #info{ 
    display: none;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

/*NAV*/

button{
    width: 100%;
    height: 20%;
}

/*COMMON FOR LOGIN, REGISTER, ABOUT, INFO*/
form{
    display: flex;
    align-content:space-around;
    flex-wrap: wrap;
    height: 328px;
}

form div{
    width: 100%;
}

form div label{
    display: block;
    font-size: 1.5rem;
    color: rgb(99, 26, 0);
}

form div input{
    display: block;
    font-size: 1.4rem;
    width: 100%;
}

/*LOGIN*/
form div input{
    height: 60px;
}
/*REGISTER*/
form div input{
    height: 40px;
}
/*ABOUT*/

#about p{
    font-size: 1.5rem;
    text-align: justify;
    margin: 0;
    padding: 40px 24px;
    line-height: 1.6;
}

/*INFO*/
#info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 328px;
    font-size: 1.5rem;
    text-align: justify;
    margin: 0;
    padding: 20px 20px;
}

@media only screen and (max-height: 508px){
    header, footer{
        display: none;
    }
    main{
        height: 100%;
    }
}

@media only screen and (max-height: 380px){
    form button, .box h2, .box button{
        display: none;
    }
    .box{
        height: 300px;
    }
    form{
        height: 300px;
        align-content:center;
    }
}

@media only screen and (max-height: 300px){
    .box{
        height: 200px;
    }
    form{
        height: 200px;
    }
}