:root{
    /*DIMENSIONS*/
    --mainHeight: 380px;
}

/* L1 */
header{
    width: var(--mainWidth);
    height: var(--headerHeight);
    background-color: var(--colorLightnes1);
}

main{
    height: var(--mainHeight);
}

/* L2 */
.box{
    height: var(--mainHeight);
}

#login, #register, #about, #info{ 
    display: none;
}

/* BOX */

/* BOX MENU */
.box#menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.box#menu button{
    width: 100%;
    margin: 10px 100px;
    height: 60px;
    border-radius: 10px;
}

/* BOX ABOUT CONTENT */

.box#about .box-content p, .box#info .box-content p{
    padding: 0 50px;
    font-size: 1.4rem;
}

/* MEDIA QUERIES */
/*
@media only screen and (max-height: 508px){
    header, footer{
        display: none;
    }
    main{
        height: 100%;
    }
}

@media only screen and (max-height: 380px){
    form button, .box h2, .box button{
        display: none;
    }
    .box{
        height: 300px;
    }
    form{
        height: 300px;
        align-content:center;
    }
}

@media only screen and (max-height: 300px){
    .box{
        height: 200px;
    }
    form{
        height: 200px;
    }
}