*{
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
}

/*FIRST (header, main, footer) LEVEL*/
header, main, footer{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 15%;
    background-color: coral;
}

main{
    height: 75%;
    background-color: rgb(255, 102, 46);
}

footer{
    height: 10%;
    background-color: rgb(255, 86, 24);
}

h1{
    margin: 0;
    text-align: center;
}

footer p{
    margin: 0 40px;
}

/*SECOND (box) LEVEL*/

.box{
    width: 350px;
    height: 380px;
    background-color: rgb(255, 115, 64);
    border: 1px solid rgb(255, 86, 24);
}

#login, #register, #about{
    display: none;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

/*NAV*/

button{
    width: 100%;
    height: 20%;
    background-color: rgb(255, 86, 24);
    border-top: 1px solid coral;
    border-left: 1px solid coral;
    border-right: 1px solid rgb(99, 26, 0);
    border-bottom: 1px solid rgb(99, 26, 0);
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(224, 60, 0);
}

button:active{
    background-color: rgb(224, 60, 0);
    border-top: 1px solid rgb(99, 26, 0);
    border-left: 1px solid rgb(99, 26, 0);
    border-right: 1px solid coral;
    border-bottom: 1px solid coral;
}

/*COMMON FOR LOGIN, REGISTER AND ABOUT*/
.close-btn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    top: 0;
}

h2{
    margin: 0;
    display: inline-block;
    width: 298px;
    text-align: center;
    padding: 11px 0;
    color: rgb(99, 26, 0);
}

form{
    display: flex;
    align-content:space-around;
    flex-wrap: wrap;
    height: 328px;
}

form div{
    width: 100%;
}

form div label{
    display: block;
    font-size: 1.5rem;
    color: rgb(99, 26, 0);
}

form div input{
    display: block;
    font-size: 1.4rem;
    width: 100%;
}

/*LOGIN*/
form div input{
    height: 60px;
}
/*REGISTER*/
form div input{
    height: 40px;
}
/*ABOUT*/

#about p{
    font-size: 1.5rem;
    text-align: justify;
    margin: 0;
    padding: 40px 24px;
    height: 328px;
    line-height: 1.6;
}

@media only screen and (max-height: 508px){
    header, footer{
        display: none;
    }
    main{
        height: 100%;
    }
}